<nav part="base" class="breadcrumb">
    <For each="$data.items" item="item" index="index">
        <span part="item" class="breadcrumb__item">
            <If test="item.href && index < $data.items.length - 1">
                <a
                    part="link"
                    class="breadcrumb__link"
                    :href="item.href"
                    @click="this.handleClick(item, event)"
                >
                    {{item.title}}
                </a>
            </If>
            <If test="!item.href && index < $data.items.length - 1">
                <span
                    part="link"
                    class="breadcrumb__link"
                    @click="this.handleClick(item, event)"
                >
                    {{item.title}}
                </span>
            </If>
            <If test="index === $data.items.length - 1">
                <span part="current" class="breadcrumb__current">
                    {{item.title}}
                </span>
            </If>
            <If test="index < $data.items.length - 1">
                <span part="separator" class="breadcrumb__separator">
                    {{$data.separator}}
                </span>
            </If>
        </span>
    </For>
</nav>
