<div part="wrapper" class="table-wrapper">
    <table part="base" class="table" :class="this.getTableClasses()">
        <thead part="head">
            <tr part="head-row">
                <For each="this.getParsedColumns()" item="col">
                    <th part="head-cell" :class="this.getThClasses(col)"
                        :style="col.width ? 'width: ' + (typeof col.width === 'number' ? col.width + 'px' : col.width) : ''">
                        {{col.title}}
                    </th>
                </For>
            </tr>
        </thead>
        <tbody part="body">
            <For each="this.getParsedDataSource()" item="row" index="rowIndex">
                <tr part="row" @click="this.handleRowClick(row, rowIndex)">
                    <For each="this.getParsedColumns()" item="col">
                        <td part="cell" :class="this.getTdClasses(col)">
                            <slot :name="'col-' + col.key + '-' + rowIndex">
                                {{this.getCellValue(row, col)}}
                            </slot>
                        </td>
                    </For>
                </tr>
            </For>
        </tbody>
    </table>

    <!-- 加载状态 -->
    <If condition="$data.loading">
        <div part="loading" class="table__loading">
            <span part="loading-icon" class="table__loading-icon"></span>
        </div>
    </If>

    <!-- 空状态 -->
    <If condition="!$data.loading && this.getParsedDataSource().length === 0">
        <div part="empty" class="table__empty">
            暂无数据
        </div>
    </If>
</div>