<div
    part="base"
    class="switch"
    :class="this.getSwitchClasses()"
    @click="this.handleClick()"
    tabindex="0"
    @keydown="this.handleKeyDown(event)"
    role="switch"
    :aria-checked="$data.checked ? 'true' : 'false'"
    :aria-disabled="$data.disabled ? 'true' : 'false'"
>
    <div part="track" class="switch__track">
        <div part="inner" class="switch__inner">
            <If test="this.hasCheckedSlot()">
                <span part="checked-text" class="switch__inner-checked">
                    <slot name="checked"></slot>
                </span>
            </If>
            <ElseIf test="$data.checkedChildren">
                <span part="checked-text" class="switch__inner-checked">{{$data.checkedChildren}}</span>
            </ElseIf>
            <If test="this.hasUncheckedSlot()">
                <span part="unchecked-text" class="switch__inner-unchecked">
                    <slot name="unchecked"></slot>
                </span>
            </If>
            <ElseIf test="$data.unCheckedChildren">
                <span part="unchecked-text" class="switch__inner-unchecked">{{$data.unCheckedChildren}}</span>
            </ElseIf>
        </div>
        <div part="handle" class="switch__handle">
            <If test="$data.loading">
                <span part="loading-icon" class="switch__loading-icon"></span>
            </If>
        </div>
    </div>
</div>
