<button
    ref="buttonRef"
    part="base"
    type="button"
    class="fab"
    :class="this.getFabClasses()"
    :style="this.getFabStyles()"
    :disabled="$data.disabled"
    @click="this.handleClick(event)"
>
    <If test="this.hasIconSlot()">
        <span part="icon" class="fab__icon">
            <slot name="icon"></slot>
        </span>
    </If>
    <ElseIf test="$data.icon">
        <span part="icon" class="fab__icon">{{$data.icon}}</span>
    </ElseIf>
    <Else>
        <!-- 默认图标：加号 -->
        <span part="icon" class="fab__icon">
            <svg viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M12 5v14M5 12h14"/>
            </svg>
        </span>
    </Else>
</button>
