<div
    part="base"
    class="tabs"
    :class="this.getTabsClasses()"
    role="tablist"
>
    <!-- 标签栏 -->
    <div part="nav" class="tabs__nav">
        <For each="this.getParsedItems()" item="item">
            <div
                part="tab"
                class="tabs__tab"
                :class="this.getTabClasses(item)"
                role="tab"
                :aria-selected="item.key === $data.activeKey ? 'true' : 'false'"
                :aria-controls="'panel-' + item.key"
                :tabindex="item.key === $data.activeKey ? '0' : '-1'"
                @click="this.handleTabClick(item)"
            >
                {{item.label}}
                <If test="$data.closable && this.getParsedItems().length > 1">
                    <span
                        part="close"
                        class="tabs__close"
                        @click="this.handleClose(item, event)"
                        role="button"
                        aria-label="关闭标签"
                        tabindex="0"
                    >×</span>
                </If>
            </div>
        </For>
        <If test="$data.addable">
            <span
                part="add"
                class="tabs__add"
                @click="this.handleAdd(event)"
                role="button"
                aria-label="新增标签"
                tabindex="0"
            >+</span>
        </If>
    </div>

    <!-- 内容区 -->
    <div part="content" class="tabs__content">
        <For each="this.getParsedItems()" item="item">
            <div
                part="pane"
                class="tabs__pane"
                :class="this.getPaneClasses(item)"
                :id="'panel-' + item.key"
                role="tabpanel"
                :aria-hidden="item.key !== $data.activeKey ? 'true' : 'false'"
            >
                <slot :name="'tab-' + item.key"></slot>
            </div>
        </For>
    </div>
</div>
