<div part="base" class="empty">
    <div part="image" class="empty__image">
        <If test="this.hasImageSlot()">
            <slot name="image"></slot>
        </If>
        <ElseIf test="$data.image">
            <img part="img" :src="$data.image" alt="empty" />
        </ElseIf>
        <Else>
            <span part="icon" class="empty__icon">📭</span>
        </Else>
    </div>
    <p part="description" class="empty__description">{{$data.description || '暂无数据'}}</p>
    <div part="footer" class="empty__footer">
        <slot></slot>
    </div>
</div>
