<div
    part="base"
    class="timeline"
    :class="this.getTimelineClasses()"
>
    <ul part="list" class="timeline__list">
        <For each="this.getParsedItems()" item="item" index="index">
            <li
                part="item"
                class="timeline__item"
                :class="this.getItemClasses(item, index)"
            >
                <div part="tail" class="timeline__item-tail"></div>
                <div part="item-wrapper" class="timeline__item-wrapper">
                    <div part="head" class="timeline__item-head">
                        <If test="item.loading">
                            <div
                                part="dot"
                                class="timeline__dot"
                                :class="this.getDotClasses(item)"
                                :style="this.getDotStyle(item)"
                            ></div>
                        </If>
                        <ElseIf test="item.icon">
                            <div
                                part="icon-wrapper"
                                class="timeline__icon-wrapper"
                                :style="this.getIconStyle(item)"
                            >{{item.icon}}</div>
                        </ElseIf>
                        <Else>
                            <div
                                part="dot"
                                class="timeline__dot"
                                :class="this.getDotClasses(item)"
                                :style="this.getDotStyle(item)"
                            ></div>
                        </Else>
                    </div>
                    <div part="item-content" class="timeline__item-content">
                        <div part="title" class="timeline__title">{{item.title}}</div>
                        <If test="item.content">
                            <div part="content-text" class="timeline__content-text">{{item.content}}</div>
                        </If>
                        <If test="item.time">
                            <div part="time" class="timeline__time">{{item.time}}</div>
                        </If>
                    </div>
                </div>
            </li>
        </For>

        <If test="$data.pending">
            <li part="item" class="timeline__item timeline__item--pending">
                <div part="tail" class="timeline__item-tail"></div>
                <div part="item-wrapper" class="timeline__item-wrapper">
                    <div part="head" class="timeline__item-head">
                        <div part="dot" class="timeline__dot"></div>
                    </div>
                    <div part="item-content" class="timeline__item-content">
                        <span>{{$data.pendingContent || '待定'}}</span>
                    </div>
                </div>
            </li>
        </If>
    </ul>
</div>
